@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shippori+Mincho:wght@400;500;600&display=swap');

/* 
html, body {
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
    background: rgb(4,4,4);
    background: linear-gradient(225deg, rgba(4,4,4,0.9094012605042017) 0%, rgba(113,81,81,1) 17%, rgba(255,169,0,0.9542191876750701) 100%);
} */