@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shippori+Mincho:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

html,
body{
    background: #FFFFFF;
}

.profile{
    margin: auto;
}
.photo{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    display: block;
    margin: 50px auto;
}

.text{
    font-size: 1.2rem;
    text-align: center;
}

.plainText{
    text-align: justify;
    color: #98a5b8;
    margin-top: 30px;
    margin-bottom: 0;
}

.subtitle {
    padding: 25px;
    font-size: 1.5rem;
}

a{
    text-decoration: none;
    color: #8292ab;
}


/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
    .projects {
      flex-direction: column;
    }
  }