.icons {
    display: flex;
    list-style: none;
    background: #FFF;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: fixed;
    bottom: 1rem;
    width: 90%;
    left: 25%;
 }
 
 .icon {
     position: relative;
     margin-right: 1rem;
     height: 2.5rem;
 }