.icons {
    display: flex;
    list-style: none;
    background: #FFF;
    bottom: 0;
    width: 100%;
    margin-left: 20%;
 }
 
 .icon {
     position: relative;
     margin-right: 1rem;
     height: 2.5rem;
     right: 100%;
 }