

.projects{
    padding-left: 0;
    height: 60%;
    width: 80%;
    position: fixed;
    background: rgba(0, 255, 0, 0);
    overflow: auto;
}

/* .webgl {
    position: fixed;
    outline: none;
    background: #FFF;
    height: 500px;
    width: 100%;
} */

.circles{
    display: inline-block;
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0 auto 50px auto;
}

.image {
    width: 20%;
    margin: 0 auto;
    display: block;
}

.circle:hover{
    background-color: #17659F;
    border: 10px #beb5c4;
    transition: 0.7s;
}

.text {
    padding: 25px;
}

.link {
    color: #000;
    margin-left: 50px;
    padding: 0 10px;
}

.link:hover {
    color: #449F17;
    border-bottom: 2px solid #17659F;
    border-radius: 10px;
}