

.projects{
    margin-top: 35px;
    padding-left: 0;
    height: 100%;
    width: 80%;
    position: fixed;
    background: rgba(0, 255, 0, 0);
    overflow: auto;
}

.webgl {
    position: fixed;
    outline: none;
    background: #FFF;
    height: 500px;
    width: 100%;
}

.circles{
    display: inline-block;
    position: relative;
    height: 150%;
    width: 100%;
    margin: 0 auto 50px auto;
    flex: 20%;
}

.circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid #000;
    margin: 0 auto;
}

.circle:hover{
    background-color: #17659F;
    border: 10px #beb5c4;
    transition: 0.7s;
}

.text {
    padding: 25px;
}

.link {
    color: #000;
    margin-left: 50px;
    padding: 0 10px;
}

.link:hover {
    color: #449F17;
    border-bottom: 2px solid #17659F;
    border-radius: 10px;
}